@page "/admin/menber"
@model Courses_MVC.Areas.Admin.Pages.User.IndexModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage" />
<div class="md-2 ml-lg-5">
    <a class="btn btn-outline-success" asp-page="../Role/Create">Tạo role</a>
    <a class="btn btn-outline-success" asp-page="../Role/Index">Quản lý role</a>
</div>
<div class="table-overflow">
    <table class="table">
        <tr>
            <th>Tên use</th>
            <th>Vai trò (role)</th>
            <th>Tác vụ</th>
        </tr>
        @foreach (var user in Model.users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @if (string.IsNullOrEmpty(user.RoleNames))
                    {
                        <a class="text-dark" asp-page="./AddRole" asp-route-id="@user.Id">+ Thêm roles</a>
                    }
                    else
                    {
                        <a asp-page="./AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                    }


                </td>
                <td>
                    <a class="btn btn-danger btn-sm" asp-page="./DeleteUser" asp-route-userId="@user.Id">Xóa</a>
                    <a class="btn btn-primary btn-sm" asp-page="./SetPassword" asp-route-id="@user.Id">Đặt mật khẩu</a>

                </td>
            </tr>
        }
    </table>
</div>

@*@{ 
    var pagingmodel = new XTL.Helpers.PagingModel()
    {
        currentpage = Model.currentPage,
        countpages = Model.countPage,
        generateUrl = (int? p) => Url.Page("./Index", new { p = p })
    };
}
<partial name="_PagingXTL" model="@pagingmodel"/>*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
