@page "/admin/roles/"
@model Courses_MVC.Areas.Admin.Pages.Role.IndexModel
@{
    ViewData["Title"] = "Danh sách các roles ";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMassage" />
<div class="md-2">
    <a class="btn btn-outline-success" asp-page="./Create">Tạo role</a>
    <a class="btn btn-outline-success" asp-page="../User/Index">Quản lý thành viên</a>
</div>
<table class="table">
    <tr>
        <th>
            Tên role (vai trò)
        </th>
        <th>Tác vụ</th>
    </tr>
    @foreach(var role in Model.roles)
     {
        <tr>
            <td>
                @role.Name <br />
                @foreach(var claim in role.Claims)
                {
                    <small>@claim</small><br />
                }
            </td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-roleid="@role.Id">Cập nhật</a>
                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-roleid="@role.Id">Xóa</a>
            </td>
        </tr>
     }
</table>
