@model Courses_MVC.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.originalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.originalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imgCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imgCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic.topicName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount.discription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.courseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
