@model IEnumerable<Courses_MVC.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.originalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imgCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.courseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.originalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imgCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.topicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount.discription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.courseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.courseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.courseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
